body {
  margin: 0;
  display: flex;
}

.row {
  height: 100vh;
}

.row:nth-child(1) {
  flex: 2;
  background-color: #1a8cff;
}

.row:nth-child(2) {
  flex: 6;
  background-color: #99ccff;
/*  flex-direction: */
  display: flex;
  flex-direction: column
}

.row > div:nth-child(1) {
  flex: 3;
  border-bottom: 2px solid black;
  justify-content: center;
  align-items: center;
  display: flex;
}

#gallery {
  flex: 8;
}

#gallery > div {
  display: flex;
  flex-wrap: wrap;
}

#gallery > div >div {
  border: 2px solid black;
  height: 150px;
  width: 150px;
  margin: 25px;
}