body {
  display: flex;
  height: 100vh;
  margin: 0;
}

body > div {
  flex: 1
}

body > div:nth-child(1) {
  background-color: #66ffcc;
}

body > div:nth-child(2) {
  background-color: #71da71;
}

@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 0.5em;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.5em;
  }
}

@media (max-width: 500px) and (max-height: 500px) {
  body > div:nth-child(1) {
    background-color: #ff80ff;
  }

  body > div:nth-child(2) {
    background-color: #bf80ff;
  }
}