body {
  margin: 100px;
  background-color: #ffb3b3;
}

.box {
  height: 400px;
  margin: 5px;
  background-color: #ff4d4d;
  overflow: auto;
  padding: 30px;
}

.box h1 {
  margin: 0;
}

.box p {
  margin: 0;
}